@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
}

h1 {
  font-size: 60px;
  line-height: 68px;
  font-weight: 700;
  color: #FFFFFF;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px;
  border-radius: 10px;
}

.button-small {
  font-size: 16px;
  line-height: 20px;
}

.button-blue {
  background-color: #83B3D3;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  width: 416px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.main-index {
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-logo {
  display: block;
  margin: 0 auto;
}

.index-header {
  background-image: url("/images/index-bg.jpg");
  width: 1200px;
  height: 485px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.advantages-container {
  width: 720px;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 78px;
}

.advantages-description {
  line-height: 21px;
}

.advantages-header {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-bottom: 24px;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.advantages-item {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 400px;
  height: 384px;
}

.advantages-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 250px;
  height: 400px;
}

.advantages-item-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 400px;
  height: 384px;
}

.advantages-item-item .icon {
  align-self: center;
}

.advantages-image {
  width: 800px;
  height: 384px;
}

.advantages-item-2lvl {
  display: flex;
  flex-direction: row;
  width: 1200px;
  padding: 0;
  margin: 0 auto;
}

.advantages-item:nth-child(1) {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.advantages-item:nth-child(5) {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.advantages-item:nth-child(6) {
  background-color: #F0F5F9;
  color: #000000;
}

.advantages-item:nth-child(7) {
  background-color: #E6F0F6;
  color: #000000;
}

.advantages-item:nth-child(8) {
  background-color: #F0F5F9;
  color: #000000;
}

.advantages-item-item:nth-child(1) {
  background-color: #E6F0F6;
  color: #000000;
}

.advantages-item-item:nth-child(2) {
  background-color: #F0F5F9;
  color: #000000;
}

.advantages-item-item:nth-child(3) {
  background-color: #E6F0F6;
  color: #000000;
}


.call-to-action {
  width: 720px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
}

.sign-up {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("/images/sign-up-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.sign-up-container {
  width: 720px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-footer {
  display: flex;
  margin: 0 auto;
}


.page-footer-container {
  display: flex;
  width: 1200px;
  justify-content: space-between;
}

.footer-phone-number {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.inner-header {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("/images/catalog-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.breadcrumbs {
  color: #FFFFFF;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-discard {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
}

.mode-selection {
  border: #E5E5E5;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.hotel-card-button {
  font-size: 16px;
  line-height: 20px;
  background-color: #756257;
}

.button-favorites {
  font-size: 16px;
  line-height: 20px;
  background-color: #83B3D3;
}

.button-favorites-selected {
  font-size: 16px;
  line-height: 20px;
  background-color: #7DB54F;
}

.hotel-card-type {
  color: #333333;
}

.hotel-card-price {
  color: #333333;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.pagination-link {
  background-color: #83B3D3;
}

.pagination-current {
  background-color: #E5E5E5;
}
