@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.field, .select{
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.field::-webkit-calendar-picker-indicator {
  opacity:0;
}

body {
  min-width: 1200px;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
}

.body-container {
  display:flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.h1 {
  font-size: 60px;
  line-height: 68px;
  font-weight: 700;
  color: #FFFFFF;
}

.h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 34px;
  border-radius: 10px;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  outline: 3px solid #83B3D3;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled,
.button:disabled:hover {
  opacity: 60%;
}

.button--small {
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  padding: 10px 34px;
}

.button--blue {
  background-color: #83B3D3;
}

.button--blue:hover {
  background-color: #68A2CA;
}

.button--blue:focus {
  outline: 3px solid #756257;
}

.button--blue:active {
  color: rgba(255, 255, 255, 0.3);
}

.select {
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  border: 2px solid #E5E5E5;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 4px;
  width: 288px;
  padding: 12px;
  padding-left: 16px;
}


.select:hover, select:focus{
  outline: none;
  border: 2px solid #83B3D3;
}

.select:active {
  opacity: 30%;
}

.select:disabled,
.select:disabled:hover {
  color: rgba(0, 0, 0, 0.3);
  background-image: none;
}

.field {
  color:rgba(0, 0, 0, 0.6);
  background-color: #F2F2F2;
  border: none;
  font: inherit;
  font-size: 18px;
  line-height: 26px;
  padding: 12px;
  padding-left: 22px;
  padding-right: 22px;
  border: 3px transparent;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.field:active {
  background-color: #FFFFFF;
  color: #000000;
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.field:disabled,
.field:disabled:hover {
  opacity: 60%;
}

.page-header {
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  height: 65px;
}

.navigation-list {
  display: flex;
  max-width: 440px;
  margin: 0;
  margin-left: 72px;
  margin-right: 20px;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  min-width: 200px;
  max-width: 440px;
  margin-left: auto;
  margin-right: 72px;
  align-items: center;
}

.navigation-item {
  position: relative;
  display: block;
  margin: 0;
  margin-right: 24px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-button {
  max-width: 280px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-user .navigation-item:nth-child(1) {
  margin-right: 16px;
}

.navigation-item-current {
  border-bottom: 2px solid #756257;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-align: left;
  border-radius: 10px;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 1px;
  outline-offset: 6px;
}

.navigation-link:active {
  opacity: 30%;
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:focus .navigation-icon {
  color: #756257;
}

.navigation-user .navigation-link {
  display: flex;
  width: 28px;
  height: 28px;
}

.navigation-icon {
  fill: #000000;
  margin: auto;
}

.navigation-logo {
  position: absolute;
  left: 530px;
}

.favorites {
  position: relative;
}

.favorites::after {
  content:"12";
  background-color:#7DB54F;
  display: inline-block;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.main-index {
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-logo {
  display: block;
  margin: 0 auto;
}

.index-header {
  background-color: #83B3D3;
  color: #FFFFFF;
  background-image: url("../images/index-bg.jpg");
  width: 1200px;
  height: 433px;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 52px;
}

.advantages-container {
  width: 720px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 80px;
}

.advantages-description {
  line-height: 21px;
}

.advantages-item-1 .advantages-description::before {
  display: block;
  content: "— №1 —";
  margin-bottom: 34px;
}

.advantages-item-2 .advantages-description::before {
  display: block;
  content: "— №2 —";
  margin-bottom: 34px;
}

.advantages-item-3 .advantages-description::before {
  display: block;
  content: "— №3 —";
  margin-bottom: 34px;
}

.advantages-item-4 .advantages-description::before {
  display: block;
  content: "— №4 —";
  margin-bottom: 34px;
}

.advantages-item-5 .advantages-description::before {
  display: block;
  content: "— №5 —";
  margin-bottom: 34px;
}

.advantages-header {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-bottom: 24px;
}

.advantages-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.advantages-item {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 400px;
  height: 384px;
}

.advantages-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 250px;
  height: 400px;
}

.advantages-title{
  margin: 0;
  margin-bottom: 28px;
}

.advantages-description {
  margin: 0;
}

.advantages-item-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 400px;
  height: 384px;
}

.advantages-item-item .icon {
  align-self: center;
}

.advantages-image {
  width: 800px;
  height: 384px;
  background-color: #F0F5F9;
}

.advantages-item-2lvl {
  display: flex;
  flex-direction: row;
  width: 1200px;
  padding: 0;
  margin: 0 auto;
}

.advantages-item-2lvl .advantages-title {
  margin-top: 24px;
  margin-bottom: 24px;
}

.advantages-item:nth-child(1) {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.advantages-item:nth-child(5) {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.advantages-item:nth-child(6) {
  background-color: #F0F5F9;
  color: #000000;
}

.advantages-item:nth-child(7) {
  background-color: #E6F0F6;
  color: #000000;
}

.advantages-item:nth-child(8) {
  background-color: #F0F5F9;
  color: #000000;
}

.advantages-item-item:nth-child(1) {
  background-color: #E6F0F6;
  color: #000000;
}

.advantages-item-item:nth-child(2) {
  background-color: #F0F5F9;
  color: #000000;
}

.advantages-item-item:nth-child(3) {
  background-color: #E6F0F6;
  color: #000000;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  width: 576px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
}

.call-to-action-title {
  margin: 0;
  margin-bottom: 32px;
}

.call-to-action-text {
  margin: 0;
  margin-bottom: 56px;
}

.sign-up {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #83B3D3;
  background-image: url("../images/sign-up-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.sign-up-catalog {
  width: 1200px;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 800px;
  max-width: 1056px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.catalog-sign-up {
  padding-bottom: 138px;
}

.sign-up-title {
  margin: 0;
  margin-bottom: 30px;
}

.sign-up-text {
  margin: 0;
  margin-bottom: 44px;
}

.sign-up-form {
  display: flex;
}

.sign-up-input {
  border-radius: 10px 0px 0px 10px;
  width: 556px;
  height: 36px;
}

.sign-up-input .error {
  background-color: #FFFFFF;
  outline: 2px solid #FF5757;
  outline-offset: -2px;
}

.sign-up-button {
  min-width: 200px;
  max-width: 456px;
  height: 60px;
  background: #83B3D3;
  border-radius: 0px 10px 10px 0px;
}

.sign-up-button:hover {
  background-color: #68A2CA;
}

.sign-up-button:focus {
  outline: 3px solid #756257;
}

.sign-up-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer {
  margin: auto;
  width: 1200px;
}


.page-footer-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 44px;
  margin: 0 72px;
}

.footer-phone-number {
  position: absolute;
  left: 360px;
  top: 32%;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 336px;
}

.social-icon {
  fill: #83B3D3;
}

.footer-social-link {
  display: inline-block;
  padding: 10px;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  border-radius: 10px;
}

.footer-social-link:hover {
  fill: #68A2CA;
}

.footer-social-link:focus {
  color: #68A2CA;
  outline: 3px solid #83B3D3;
}

.footer-social-link:active {
  opacity: 30%;
}

.footer-phone-number:hover {
  color: #756257;
}

.footer-phone-number:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 1px;
  outline-offset: 10px;
}

.footer-phone-number:active {
  opacity: 30%;
}

.footer-logo-img {
  display: inline-block;
  height: 34px;
}

.footer-logo-img:hover {
  fill: #756257;
}

.footer-logo-img:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 1px;
  outline-offset: 10px;
}

.footer-logo-img:active {
  opacity: 30%;
}

.main-inner {
  padding: 0;
  margin: 0;
}

.inner-header {
  color: #FFFFFF;
  background-color: #83B3D3;
  background-image: url("../images/catalog-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  margin: 0;
  margin-left: 72px;
  padding-top: 30px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: 72px;
  margin-bottom: 46px;
  position: relative;
  top: 6px;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  height: 20px;
  align-self: center;
}

.breadcrumbs-link {
  margin: auto;
  color: inherit;
  fill: #FFFFFF;
  text-decoration: none;
  height: 20px;
  border-radius: 4px;
}

.text-link {
  position: relative;
  top: -2px;
}

.breadcrumbs-link:hover {
  opacity: 60%;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 4px;
}

.breadcrumbs-link:active{
  opacity: 30%;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input:disabled + .control-mark {
  opacity: 30%;
}

.control:focus-within .control-mark {
  outline: 3px solid #83B3D3;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  content: url("../images/control-checkbox.svg");
  position: absolute;
  top: 0;
  left: 0;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.range {
  display: flex;
  flex-direction: column;
}

.range-scale {
  order: 1;
  position: relative;
  height: 4px;
  margin-bottom: 12px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px;
}

.range-toggle:focus {
  box-shadow: 0px 4px 10px;
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  box-shadow: 0px 7px 15px;
  outline: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  position: relative;
  display: flex;
  margin-bottom: 32px;
}

.catalog-filter-label {
  border: 2px solid #FFFFFF;
  padding-right: 14px;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-label:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.catalog-filter-label:focus-within {
  box-shadow: 0 0 0 3px #81b3d2, 0 0 0 3px #81b3d2 inset;
}

.catalog-filter-label:active {
  background-color: #756257;
}

.catalog-filter-label:first-child {
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #FFFFFF;
}

.catalog-filter-label:last-child {
  border-radius: 0 4px 4px 0;
  border-left: 1px solid #FFFFFF;
}

.range-input {
  font: inherit;
  color: #FFFFFF;
  text-align: left;
  display: inline-block;
  padding-left: 18px;
  padding-right: 18px;
  width: 74px;
  height: 20px;
  background-color: transparent;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:hover,
.range-input:focus,
.range-input:active {
  background: transparent;
  border: none;
  outline: none;
}


.catalog-filter {
  display: flex;
  flex-direction: row;
  width: 1056px;
  margin-left: 72px;
  margin-right: 72px;
  padding-bottom: 80px;
  gap: 68px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 12px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

.catalog-filter-group:nth-child(3) {
  margin-left: auto;
  margin-right: 12px;
  max-width: 290px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.button-filter {
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  padding: 14px 32px;
  min-width: 160px;
  max-width: 250px;
  background-color: #83B3D3;
}

.button-filter:hover {
  background-color: #68A2CA;
}

.button-filter:focus {
  outline: 3px solid #FFFFFF;
}

.button-filter:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-discard {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  min-width: 100px;
  max-width: 250px;
  height: 32px;
  border-radius: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.catalog-filter-discard:hover {
  opacity: 60%;
}

.catalog-filter-discard:focus {
  outline: 3px solid #83B3D3;
}

.catalog-filter-discard:active {
  opacity: 30%;
}

.catalog-filter-discard:disabled,
.catalog-filter-discard:disabled:hover {
  opacity: 30%;
}

.sorting-container {
  display: flex;
  margin-left: 72px;
  margin-right: 72px;
  padding-top: 44px;
  padding-bottom: 42px;
  border-bottom: 1px solid #E5E5E5;
  align-items: center;
}

.sorting-title {
  margin: 0;
}

.sorting-type {
  display: flex;
  margin-left: auto;
  align-self: stretch;
}

.mode-selection-container {
  display: flex;
  margin-left: 80px;
  width: 160px;
  justify-content: space-between;
}

.mode-selection {
  display: flex;
  width: 16px;
  height: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 14px;
  padding-right: 14px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.mode-selection:hover, .mode-selection:focus {
  border: 2px solid #83B3D3;
}

.mode-active {
  border: 2px solid #000000;
}

.hotel-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 72px;
  margin-right: 72px;
  padding: 0;

}

.hotel-card {
  display: flex;
  height: 120px;
  padding-top: 28px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card-image {
  width: 180px;
  margin-right: 36px;
}

.hotel-card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 30px 24px 66px;
  column-gap: 8px;
}

.hotel-card-link {
  max-width: 678px;
  grid-column: span 3;
  text-overflow: ellipsis;
  overflow: hidden;
}

.hotel-card-title {
  margin: 0;
}

.hotel-card-type {
  margin: 0;
}

.rating-container {
  justify-content: space-between;
  margin-left: auto;

}

.stars-rating {
  background-image: url("../images/icon-star.svg");
  background-repeat: repeat-x;
  height: 20px;
}

.stars-rating-4 {
  width: 80px;
}

.stars-rating-3 {
  width: 60px;
}

.stars-rating-2 {
  width: 40px;
}

.hotel-card-rating {
  padding: 10px 32px;
  border-radius: 4px;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  padding: 0;
  width: max-content;
}

.hotel-card-link:hover {
  color: #756257;
}

.hotel-card-link:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  outline-offset: 4px;
  border-radius: 1px;
}

.hotel-card-link:active {
  opacity: 30%;
}

.hotel-card-image:hover {
  opacity: 60%;
}

.hotel-card-image:focus {
  outline: 3px solid #83B3D3;
}

.hotel-card-image:active {
  opacity: 30%;
}

.hotel-card-button {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  background-color: #756257;
  border-radius: 4px;
  align-self: end;
  max-width: 300px;
}

.button-more {
  padding: 12px 30px;
  grid-column: 1;
  grid-row: 3;
}

.button-favorites {
  background-color: #83B3D3;
  padding: 12px 30px;
  grid-column: 2;
  grid-row: 3;
}

.button-favorites:hover {
  background-color: #68A2CA;
}

.button-favorites:focus {
  outline: 3px solid #756257;
}

.button-favorites:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-favorites-selected {
  padding: 12px 28px;
  background-color: #7DB54F;
  grid-column: 2;
  grid-row: 3;
}

.button-favorites-selected:hover {
  background-color: #6C9E42;
}

.button-favorites-selected:focus {
  outline: 3px solid #756257;
}

.button-favorites-selected:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-type {
  color: #333333;
  margin: 0;
  margin-bottom: auto;
}

.hotel-card-price {
  color: #333333;
  margin: 0;
  margin-bottom: auto;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.rating-container {
  display: flex;
  flex-direction: column;
  align-items : center;
  min-width: 160px;
}

.pagination-button-container {
  display: flex;
  justify-content: center;
  width: 1056px;
  margin: 0;
  margin-left: 72px;
  margin-right: 72px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E5E5E5;
}

.pagination-button {
  width: 624px;
  background-color: #83B3D3;
}

.pagination-button:hover {
  background-color: #68A2CA;
}

.pagination-button:focus {
  outline: 3px solid #756257;
}

.pagination-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-container {
  display: flex;
  width: 1056px;
  justify-content: center;
  margin-left: 72px;
  margin-right: 72px;
}

.pagination-pages {
  display: flex;
  list-style: none;
  width: 368px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 54px;
  height: 54px;
  background-color: #83B3D3;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  outline: 3px solid #756257;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  text-align: center;
  background-color: #E5E5E5;
  color: #000000;
}

.pagination-hotel-amount {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
  margin-top: 30px;
}

.hotel-amount {
  width: 160px;
}

.popover {
  position: absolute;
  left: -184px;
  top: 60px;
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  padding: 0px;
  font-family: inherit;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  min-height: 226px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: none;
}

.popover-open {
  display: block;
}

.popover::before {
  position: relative;
  content: url("../images/arrow.svg");
  background-repeat: no-repeat;
  top: -17px;
  left: 187px;
}

.popover-content {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.popover-button {
  margin-top: auto;
  height: 60px;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
  margin: 0;
}

.delete-button {
  display: flex;
  fill: rgba(0, 0, 0, 0.2);
  border: none;
  background: transparent;
  height: 20px;
  width: 20px;
  padding: 2px;
  border-radius: 4px;
  align-self: center;
}

.delete-button:hover {
  fill: #000000;
}

.delete-button:focus {
  fill: #000000;
  outline: 3px solid #83B3D3;
  outline-offset: 4px;
}

.delete-button:active {
  opacity: 30%;
}

.favorits-item {
  display: grid;
  gap: 16px;
  grid-template-columns: auto min-content;
}

.favorits-items-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0px;
  color: #000000;
}

.favorits-link {
  display: grid;
  grid-template-columns: 48px 244px;
  grid-template-rows: 20px 20px;
  column-gap: 18px;
  row-gap: 6px;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  width: min-content;
  border-radius: 10px;
}

.favorits-link:hover {
  opacity: 60%;
}

.favorits-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 6px;
}

.favorits-link:active {
  opacity: 30%;
}

.favorits-img {
  grid-row: span 2;
}

.favorits-item-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.favorits-item-type {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-content {
  padding: 0;
  display: grid;
  grid-template-columns: auto 54px;
  column-gap: 20px;
  row-gap: 50px;
  grid-template-rows: 54px auto;
  width: 576px;

}

.modal-hotel-search {
  width: 576px;
}

.button-modal-find {
  width: 100%;
  background-color: #83B3D3;
}

.button-modal-find:hover {
  background-color: #68A2CA;
}

.button-modal-find:focus {
  outline: 3px solid #756257;
}

.button-modal-find:active {
  color: rgba(255, 255, 255, 0.3);
}

.modal-close-button {
  width: 54px;
  height: 54px;
  background-color: #E5E5E5;
  border: none;
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}

.modal-title {
  order: -1;
  margin: auto 0;
}

.modal-label {
  width: max-content;
}

.field-group {
  position: relative;
  align-items: center;
  margin: 0;
}

.hotel-search-form {
  position: relative;
  grid-column: span 2;
  display: grid;
  grid-template-columns: auto 240px;
  grid-template-rows: 50px 50px 50px 60px;
  row-gap: 40px;
  column-gap: 52px;
  width: 576px;
}

.field-group:nth-child(1),
.field-group:nth-child(2) {
  grid-column: span 2;
}

.hotel-search-form .button {
  grid-column: span 2;
}

.field-group {
  display: grid;
  grid-template-columns: 112px 136px auto;
  column-gap: 36px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.field-group:nth-child(3),
.field-group:nth-child(4) {
  grid-template-columns: auto 136px;
  gap: 16px;
}

.hotel-search-field {
  grid-column: span 2;
  border-radius: 4px;
  background-image: url("../images/icon-date.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  z-index: 0;
}

.number-container {
  border: 1px transparent;
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 4px;
  align-self: stretch;
}

.number-container:hover {
  background-color: #E5E5E5;
}

.number-container:focus-within {
  outline: 3px solid #83B3D3;
}

.number-container:active {
  outline: 2px solid #000000;
  background-color: #FFFFFF;
  color: #000000;
}

.button-minus,
.button-plus {
  display: flex;
  margin: auto;
  padding: 0;
  border: none;
  background: transparent;
  fill: rgba(0, 0, 0, 0.3);
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.button-minus:hover,
.button-plus:hover {
  fill: #000000;
}

.button-minus:focus,
.button-plus:focus {
  outline: 3px solid #83B3D3;
}

.button-minus:active,
.button-plus:active {
  fill: rgba(0, 0, 0, 0.2);
}

.modal-icon {
  padding: 0;
  width: 20px;
  height: 20px;
  margin: auto;
}

.number-field {
  text-align: center;
  width: 24px;
  background: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.number-field:hover,
.number-field:focus,
.number-field:active {
  border: none;
  outline: none;
}

.child-number {
  position: relative;
}

.child-number:hover::after{
  background-color: #68A2CA;
}

.success.field-group::after {
  content:"На эти даты есть свободные номера. Пока есть.";
  color: #333333;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  position: absolute;
  left: 26%;
  bottom: -45%;
}

.error.field-group::after {
  content:"Мы не можем отправить вас в прошлое.";
  color: #FF5757;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  position: absolute;
  left: 26%;
  bottom: -45%;
}

.tooltip {
  position: absolute;
  left: 50px;
}

.tooltip .tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  padding: 18px;
  width: 256px;
  border-radius: 10px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 13px;
  top: 35px;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

.icon-info {
  fill: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 50%;
}

.icon-info:hover {
  background-color: #68A2CA;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

.tooltip-text::before {
  position: absolute;
  content: url("../images/arrow-tooltip.svg");
  background-repeat: no-repeat;
  top: -17px;
  left: 47%;
}

.modal-container-close {
  display: none;
}
