@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-size: 60px;
  line-height: 68px;
  font-weight: 700;
  color: #FFFFFF;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 34px;
  border-radius: 10px;
  white-space: nowrap
}

.button--small {
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  padding: 10px 34px;
}

.button--blue {
  background-color: #83B3D3;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  max-width: 440px;
  margin: 0;
  margin-left: 72px;
  margin-right: 20px;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
  margin-right: 72px;
  align-items: center;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-item {
  display: block;
  margin: 0;
  margin-right: 34px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigation-item:nth-child(3) {
  margin-right: 0;
}

.navigation-user .navigation-item:nth-child(1) {
  margin-right: 20px;
}

.navigation-item-current {
  border-bottom: 2px solid #756257;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-align: left;
}

.navigation-logo {
  margin: auto;
}

.main-index {
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-logo {
  display: block;
  margin: 0 auto;
}

.index-header {
  background-image: url("/images/index-bg.jpg");
  width: 1200px;
  height: 485px;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 52px;
}

.advantages-container {
  width: 720px;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 78px;
}

.advantages-description {
  line-height: 21px;
}

.advantages-header {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-bottom: 24px;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.advantages-item {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 400px;
  height: 384px;
}

.advantages-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 250px;
  height: 400px;
}

.advantages-item-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 400px;
  height: 384px;
}

.advantages-item-item .icon {
  align-self: center;
}

.advantages-image {
  width: 800px;
  height: 384px;
}

.advantages-item-2lvl {
  display: flex;
  flex-direction: row;
  width: 1200px;
  padding: 0;
  margin: 0 auto;
}

.advantages-item:nth-child(1) {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.advantages-item:nth-child(5) {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.advantages-item:nth-child(6) {
  background-color: #F0F5F9;
  color: #000000;
}

.advantages-item:nth-child(7) {
  background-color: #E6F0F6;
  color: #000000;
}

.advantages-item:nth-child(8) {
  background-color: #F0F5F9;
  color: #000000;
}

.advantages-item-item:nth-child(1) {
  background-color: #E6F0F6;
  color: #000000;
}

.advantages-item-item:nth-child(2) {
  background-color: #F0F5F9;
  color: #000000;
}

.advantages-item-item:nth-child(3) {
  background-color: #E6F0F6;
  color: #000000;
}


.call-to-action {
  display: flex;
  flex-direction: column;
  width: 576px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
}

.call-to-action-title {
  margin: 0;
  margin-bottom: 32px;
}

.call-to-action-text {
  margin: 0;
  margin-bottom: 56px;
}

.sign-up {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("/images/sign-up-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.sign-up-catalog {
  width: 1200px;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 800px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.sign-up-title {
  margin: 0;
  margin-bottom: 36px;
}

.sign-up-text {
  margin: 0;
  margin-bottom: 44px;
}

.sign-up-form {
  display: flex;
}

.sign-up-input {
  color: #9B9B9B;
  border: 2px solid #E5E5E5;
  border-right: none;
  border-radius: 10px 0px 0px 10px;
  width: 600px;
  height: 32px;
  padding: 12px;
  padding-left: 22px;
  padding-right: 22px;
}

.sign-up-button {
  width: 200px;
  height: 60px;
  background: #83B3D3;
  border-radius: 0px 10px 10px 0px;
}

.page-footer {
  margin: auto;
  width: 1200px;
}


.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 44px;
  margin: 0 72px;
}

.footer-phone-number {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-social-item {
  width: 20px;
  height: 20px;
  margin-right: 30px;
}

.main-inner {
  padding: 0;
  margin: 0;
}
.inner-header {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("/images/catalog-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  margin: 0;
  margin-left: 72px;
  padding-top: 30px;
}

.breadcrumbs {
  display: flex;
  color: #FFFFFF;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 72px;
  margin-bottom: 46px;
}

.breadcrumbs-item {
  margin-right: 10px;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  width: 1056px;
  margin-left: 72px;
  margin-right: 72px;
  padding-bottom: 80px;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.catalog-filter-discard {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
}

.sorting-container {
  display: flex;
  margin-left: 72px;
  margin-right: 72px;
  padding-top: 44px;
  padding-bottom: 42px;
  border-bottom: 1px solid #E5E5E5;
  align-items: center;
}

.sorting-title {
  margin: 0;
}

.sorting-type {
  display: flex;
  margin-left: auto;
  align-self: stretch;
}

.select-control {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 288px;
  padding: 12px;
  padding-left: 16px;
}

.mode-selection-container {
  display: flex;
  margin-left: 80px;
  width: 160px;
  justify-content: space-between;
}

.mode-selection {
  display: flex;
  width: 16px;
  height: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 14px;
  padding-right: 14px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.mode-active {
  border: 2px solid #000000;
}

.hotel-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 72px;
  margin-right: 72px;
  padding: 0;

}

.hotel-card {
  display: flex;
  padding-top: 28px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card-image {
  width: 180px;
  margin-right: 36px;
}

.hotel-card-container {
  display: grid;
  grid-template-columns: 150px 160px;
  gap: 8px;
}

.hotel-card-link {
  grid-column: span 2;
}

.hotel-card-title {
  margin: 0;
}

.hotel-card-type {
  margin: 0;
}

.rating-container {
  justify-content: space-between;
  margin-left: auto;
}

.hotel-card-rating {
  padding: 10px 32px;
  border-radius: 4px;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.hotel-card-button {
  font-size: 16px;
  line-height: 20px;
  background-color: #756257;
}

.button-favorites {
  font-size: 16px;
  line-height: 20px;
  background-color: #83B3D3;
}

.button-favorites-selected {
  font-size: 16px;
  line-height: 20px;
  background-color: #7DB54F;
}

.hotel-card-type {
  color: #333333;
  margin: 0;
  margin-bottom: auto;
}

.hotel-card-price {
  color: #333333;
  margin: 0;
  margin-bottom: auto;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.rating-container {
  display: flex;
  flex-direction: column;
  align-items : center;
}

.pagination-button-container {
  display: flex;
  justify-content: center;
  width: 1056px;
  margin: 0;
  margin-left: 72px;
  margin-right: 72px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E5E5E5;
}

.pagination-button {
  width: 624px;
  background-color: #83B3D3;
}

.pagination-container {
  display: flex;
  width: 1056px;
  justify-content: center;
  margin-left: 72px;
  margin-right: 72px;
}

.pagination-pages {
  display: flex;
  list-style: none;
  width: 368px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 54px;
  height: 54px;
  background-color: #83B3D3;
}

.pagination-current {
  text-align: center;
  background-color: #E5E5E5;
  color: #000000;
}

.pagination-hotel-amount {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
  margin-top: 30px;
}

.hotel-amount {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 160px;
  padding: 12px;
  padding-left: 16px;
}
